
  body {
    font-size: 1em;
    font-weight: normal;
    font-family: Arial, sans-serif;
    color: #000000; /* black */
    text-align: left;
    background-color: #D2B48C;
  }
  h1 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    color: #000000;
    width: auto;
    height: auto;
    border: .4em solid #000000;
    padding: 20px;
    background-color: #D2B48C;
  }

  body{

  }

  h1{

  }
  h2{

  }
  div{
    background-color: #D2B48C;
    color: #000;
    padding: .5em;
    border-radius: 15px;
    margin-top: 5px;
  }
  p{

  }
  a{
    color: #000;
    font-weight: bold;
  }
  li {

  }
