/*** KERNING & LEADING ASSIGNMENT STYLES ***/

/* Do not change this style */
.rectangle {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}

#kerning {
  /* Use the letter-spacing property to change the kerning on the text to fill the div below

    */
}

#leading {
  /* Use the line-height property to change the leading on the text to fill the div below

  http://www.w3schools.com/cssref/pr_dim_line-height.asp
  */
  <h2>Text Alignment Assignment</h2>
  <h3>Left-Align</h3>
  <p class='align'>This paragraph left-aligns the text.</p>
  <div id="left_align" class='rectangle'>
    <p class='align'>
      In <em>flush left/ragged right</em> text, the left edge is hard and the right edge is soft. Word sapces do not fluctuate, so there are never big holes inside the lines of text. This format, which was used primarily for setting poetry before the twentieth
      century, respects the flow of language rather than submitting to the law of the box. Despite its advantages, however, the flush left format is fraught with danger. Above all, the designer must work hard to control the appearance of the <em>rag</em>    that frorms along the right edge. A good rag looks pleasantly uneven, with no lines that are excessively long or short, and with hyphenation kept to a minimum. A rag is considered "bad" when it looks too even (or too uneven), or when it begins to
      form regular shapes, like wedges, moons, or diving boards.
    </p>
  </div>


  <h3>Right-Align</h3>
  <p class='align'>This paragraph right-aligns the text.</p>
  <div id="right_align" class='rectangle'>
    <p class='align'>
      <em>Flush right/ragged left</em> is a variant of the more familiar flush left setting. It is common wisdom among typographers that flush right text is hard to read, because it forces the reader's eye to find a new position at the start of each line.
      This could be true, or it could be an urban legend. That being said, the flush right setting is rarely employed for long bodies of text. Used in smaller blocks, however, flush right text forms effective marginal notes, sidebards, pull quotes, or other
      passages that comment on a main body or image. A flush or ragged-edge can suggest attraction (or repulsion) between chunks of information.
    </p>
  </div>

  <h3>Justify</h3>
  <p class='align'>This paragraph justifies the text.</p>
  <div id="justify" class='rectangle'>
    <p class='align'>
      <em>Justified text</em>, which has even edges on both the left and right sides of the column, has been the norm since hte invention of printing with movable type, which enabled the creation of page after page of straight-edged columns. In metal type
      setting, the printer justifies each line by hand, using small metal spacers to alter the spaces between words and letters and thus make all the lines the same length. Digital typesetting performs the same labor automatically. Justified type makes
      efficient use of space. It also creates a clean, compact shape on the page. Ugly gaps can occur, however, when the line length is too short in relation to the size of type used.
    </p>
  </div>

  <h3>Center-align</h3>
  <p class='align'>This paragraph centers the text.</p>
  <div id="center" class='rectangle'>
    <p class='align'>
      <em>Centered text</em> is symmetrical, <br> like the facade of a classical building. <br> Centered type often appears on <br>invitations, title pages, certificates, and tomb stones. <br> The edges of a centered column <br>are often dramatically uneven. <br> Centered lines should be broken to emphasize a key phrase <br> (such as the name of the bride or the date of her wedding) <br> or to allow a new thought to begin on its own line. <br> Breaking lines in this manner is called <br><em>breaking for sense.</em>
    </p>
  </div>

  <h2>Text Alignment Assignment</h2>
<h3>Left-Align</h3>
<p class='align'>This paragraph left-aligns the text.</p>
<div id="left_align" class='rectangle'>
  <p class='align'>
    In <em>flush left/ragged right</em> text, the left edge is hard and the right edge is soft. Word sapces do not fluctuate, so there are never big holes inside the lines of text. This format, which was used primarily for setting poetry before the twentieth
    century, respects the flow of language rather than submitting to the law of the box. Despite its advantages, however, the flush left format is fraught with danger. Above all, the designer must work hard to control the appearance of the <em>rag</em>    that frorms along the right edge. A good rag looks pleasantly uneven, with no lines that are excessively long or short, and with hyphenation kept to a minimum. A rag is considered "bad" when it looks too even (or too uneven), or when it begins to
    form regular shapes, like wedges, moons, or diving boards.
  </p>
</div>


<h3>Right-Align</h3>
<p class='align'>This paragraph right-aligns the text.</p>
<div id="right_align" class='rectangle'>
  <p class='align'>
    <em>Flush right/ragged left</em> is a variant of the more familiar flush left setting. It is common wisdom among typographers that flush right text is hard to read, because it forces the reader's eye to find a new position at the start of each line.
    This could be true, or it could be an urban legend. That being said, the flush right setting is rarely employed for long bodies of text. Used in smaller blocks, however, flush right text forms effective marginal notes, sidebards, pull quotes, or other
    passages that comment on a main body or image. A flush or ragged-edge can suggest attraction (or repulsion) between chunks of information.
  </p>
</div>

<h3>Justify</h3>
<p class='align'>This paragraph justifies the text.</p>
<div id="justify" class='rectangle'>
  <p class='align'>
    <em>Justified text</em>, which has even edges on both the left and right sides of the column, has been the norm since hte invention of printing with movable type, which enabled the creation of page after page of straight-edged columns. In metal type
    setting, the printer justifies each line by hand, using small metal spacers to alter the spaces between words and letters and thus make all the lines the same length. Digital typesetting performs the same labor automatically. Justified type makes
    efficient use of space. It also creates a clean, compact shape on the page. Ugly gaps can occur, however, when the line length is too short in relation to the size of type used.
  </p>
</div>

<h3>Center-align</h3>
<p class='align'>This paragraph centers the text.</p>
<div id="center" class='rectangle'>
  <p class='align'>
    <em>Centered text</em> is symmetrical, <br> like the facade of a classical building. <br> Centered type often appears on <br>invitations, title pages, certificates, and tomb stones. <br> The edges of a centered column <br>are often dramatically uneven. <br> Centered lines should be broken to emphasize a key phrase <br> (such as the name of the bride or the date of her wedding) <br> or to allow a new thought to begin on its own line. <br> Breaking lines in this manner is called <br><em>breaking for sense.</em>
  </p>
</div>
